@using IEPProject.Data_Models;

@model IEPProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-4">
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>First name:</dt>
            <dd>
                @Model.FirstName
            </dd>
            <dt>Last name:</dt>
            <dd>
                @Model.LastName
            </dd>
            <dt>E-mail:</dt>
            <dd>
                @Model.Email
            </dd>
            <dt>Username:</dt>
            <dd>
                @Model.Username
            </dd>
            <dt>Tokens:</dt>
            <dd>
                @Model.NumTokens
            </dd>
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
        <br />

        <div>
            @Html.ActionLink("Buy silver package!", "BuyTokens", new { type = PackageType.SILVER }, new { @class = "btn btn-default silver-background" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Buy gold package!", "BuyTokens", new { type = PackageType.GOLD }, new { @class = "btn btn-default gold-background" })
        </div>
        <br />
        <div>
            @Html.ActionLink("Buy platinum package!", "BuyTokens", new { type = PackageType.PLATINUM }, new { @class = "btn btn-default platinum-background" })
        </div>
        <hr />
        <p>
            @Html.ActionLink("Change user information", "Change", new { area = "" }, new { @class = "btn btn-default" })
        </p>
    </div>

    <div class="col-md-8">
        <div class="container text-center">
            @Html.Partial("SuccessfulBidsPartial", Model.Bids)
        </div>
    </div>
</div>
