@using PagedList.Mvc;
@model PagedList.IPagedList<IEPProject.Data_Models.Order>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <tr>
        <th>
            Number of tokens
        </th>
        <th>
            State of order
        </th>
        <th>
            Time of sumbittion
        </th>
        <th>
            Time of completion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.State == IEPProject.Data_Models.OrderState.CANCELED)
        {
            <tr class="danger">
                <td>
                    @Html.DisplayFor(modelItem => item.NumTokens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionTime)
                </td>
            </tr>
        }
        if (item.State == IEPProject.Data_Models.OrderState.SUBMITTED)
        {
            <tr class="warning">
                <td>
                    @Html.DisplayFor(modelItem => item.NumTokens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionTime)
                </td>
            </tr>
        }
        if (item.State == IEPProject.Data_Models.OrderState.COMPLETED)
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.NumTokens)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionTime)
                </td>
            </tr>
        }
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Orders", new { page, username = ViewBag.Username}))
