@model IEPProject.Models.CreateBid

@{
    ViewBag.Title = "CreateBidPartial";
}

@using (Html.BeginForm("CreateBid", "Auctions", FormMethod.Post, new { @class = "form-inline justify-content-center" }))
{
    @Html.AntiForgeryToken()

    <div>
        <div>
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @Value = ViewBag.Price.ToString(), @class = "form-control text-center" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

            @if (!string.IsNullOrEmpty(ViewBag.MessageStatus))
            {
                <div class="alert alert-danger">
                    @ViewBag.MessageStatus
                </div>
            }
        </div>
    </div>

    @Html.HiddenFor(model => model.AuctionId, new { Value = ViewBag.AuctionId })

    <div>
        <div>
            <input type="submit" value="Bid Now" class="btn btn-default" />
        </div>
    </div>
}

