@model IEPProject.Data_Models.Auction

@{
    ViewBag.Title = "DetailsPartial";
    ViewBag.AuctionId = Model.Id;
    ViewBag.Price = Model.CurrentPrice == 0 ? Model.StartPrice : Model.CurrentPrice + 1;
}

<div>
    <h3>@Html.ActionLink(Model.Name, "Details", new { id = Model.Id })</h3>
    <img src="@Model.ImagePath"/>
    @{ 
        var timeLeft = Model.CreationTime.AddSeconds(Model.Duration).Subtract(DateTime.Now);
    }
    <div>
        <h4 id="remaining_time_@Model.Id">@timeLeft.Hours:@timeLeft.Minutes:@timeLeft.Seconds</h4>
    </div>
    @if (Model.CurrentPrice != 0)
    {
        <div id="current_price_name_@Model.Id">
        @Html.DisplayNameFor(model => model.CurrentPrice)
        </div>
        <div>
        <h4 id="current_price_@Model.Id">@Html.DisplayFor(model => model.CurrentPrice)</h4>
        </div>
        <div>
            @foreach (var b in Model.Bids.Where(b => b.State == IEPProject.Data_Models.BidState.CURRENTLY_BEST))
            {
                <h5 id="bid_by_@Model.Id">Bid by:</h5>
                <div id="current_user_@Model.Id">@b.User.UserName</div>
            }
        </div>
    }
    else
    {
        <div id="current_price_name_@Model.Id">
        </div>
        <h4 id="current_price_@Model.Id">No bids yet!</h4>
        <h5 id="bid_by_@Model.Id">
            @Html.DisplayNameFor(model => model.StartPrice)
        </h5>
        <div id="current_user_@Model.Id">
            <h4>@Html.DisplayFor(model => model.StartPrice)</h4>
        </div>
    }

    <div id="closing_time_@Model.Id">
        @Html.DisplayFor(model => model.ClosingTime)
    </div>

    <br />

    @{
        var createBid = new IEPProject.Models.CreateBid();
    }
    @Html.Partial("CreateBidPartial", createBid)
</div>