@model List<IEPProject.Data_Models.Auction>

@{
    ViewBag.Title = "Index";
    ViewBag.ReturnPage = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@{ 
    var m = new IEPProject.Models.SearchAuctions();
}
@Html.Partial("SearchPartial", m)

<div class="container text-center">
    @for(var i = 0; i < Model.Count / 3; i++)
    {
        <div class="row">
            <div class="col-md-4">
                @Html.Partial("DetailsPartial", Model[i * 3 + 0])
            </div>
            <div class="col-md-4">
                @Html.Partial("DetailsPartial", Model[i * 3 + 1])
            </div>
            <div class="col-md-4">
                @Html.Partial("DetailsPartial", Model[i * 3 + 2])
            </div>
        </div>
    }
    <div class="row">
        @for (var i = 0; i < Model.Count % 3; i++)
        {
            <div class="col-md-4">
                @Html.Partial("DetailsPartial", Model[Model.Count - Model.Count % 3 + i])
            </div>
        }
    </div>
</div>
